/* Reset rules */


*{
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}

ul,
li,
menu{
    list-style: none;
    text-decoration: none;
}

/* menu-nav */


.main-nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 80px;
    background-color: yellow;
    max-width: 900px;
    margin: 0 auto;
}

ul{
    display: flex;
    gap: 20px;
}

/* sections-main */


.first-sec{
background-color: blue;
height: 35vh;
}

.container-p{
max-width: 900px;
margin: 0 auto;
height: 100%;
padding: 15px 160px;
}

.paragraph{
    height: 100%;
    background-color: plum;
}

.section-size{
    height: 40vh;
    background-color: rgb(229, 245, 245);
}

.container{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
    padding: 15px 0px;
}

.container-sx{
    background-color: rgb(32, 79, 222);
    flex-basis: 60%;
}

.container-dx{
    background-color: palevioletred;
    flex-basis: 40%;
}

#bgc-gray{
    background-color: rgb(157, 152, 152);
}

#reverse{
    flex-direction: row-reverse;
}

/* Last-section */


.last-section{
    height: 75vh;
    background-color: rgb(157, 152, 152);
    padding: 15px 0px;
}

.second-paragraph{
    background-color: green;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
   
}

/* Footer */


footer{
    background-color: rgb(65, 62, 62);
    height: 60vh;
}

.container-column{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    height: 50vh;
    padding-top: 5px;
    padding-bottom: 10px;
}

.col{
    background-color: aqua;
    flex-basis: 16%;
}

.col-big{
    flex-grow: 1;
    background-color: palevioletred;
}

.container-login{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    height: 8vh;
    justify-content: space-between;
    background-color: lightseagreen;
    align-items: center;
    padding: 10px 0;
}