/* Reset rules */


*{
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}

ul,
li,
menu,
a{
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Roboto Slab', serif;
}

/* menu-nav */

header{
    background-color: rgba(37,94,233,255);
}
.main-nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 80px;
    max-width: 1200px;
    margin: 0 auto;
}

ul{
    display: flex;
    gap: 20px;
    color: white;
    text-align: center;
    line-height: 34px;
}

a:link{
    color: white;
}

.btn-acces{
    border-radius: 20px;
    background-color: white;
    color: rgba(112,121,130,255);
    padding: 9px;
}

/* sections-main */

.container{
    max-width: 1200px;
    margin: 0 auto;
    height: 560px;
    padding: 15px 160px;
    text-align: center;
    display: flex;
    align-items: center;
    border: 2px red solid;
}

.hero-content{
    max-width: 900px;
    margin: 0 auto;
}

.section-bgi{
    background-image: url(../img/jumbo.png);
    min-height: 560px;
    background-size: 100%;
    background-repeat: no-repeat;
}

h1{
    font-size: 56px;
    color: white;
}

.main-paragraph{
    color: white;
    font-size: 20px;
    margin: 40px 0px 0px;
}

.btn-hero{
    font-size: 20px;
    border-radius: 28px;
    padding: 16px 32px;
    margin-top: 24px;
}

.btn-black{
    background-color: rgba(35,39,42,255);
    color: white;
    margin-left: 24px;
}
 .container-section-col{
    max-width: 1200px;
    margin: 0 auto;
    height: 680px;
    padding: 120px 0px;
    text-align: center;
    align-items: center;
    border: 2px solid green;
 }

 .row{
    display: flex;
    align-items: center;
 }

 .row-reverse{
    flex-direction: row-reverse;
 }

 .col-w60{
    flex-basis: 60%;
    border: 2px solid green;
 }

 .col-w40{
    flex-basis: 40%;
    border: 2px solid green;
    text-align: left;
    padding: 5px 20px;
 }

 .title-1sect{
    font-size: 46px;
    color: #23272a;
 }

 .paragraph-2{
    font-size: 18px;
    margin-top: 24px;
    line-height: 1.4;
 }

/* 


#bgc-gray{
    background-color: rgb(157, 152, 152);
}

#reverse{
    flex-direction: row-reverse;
} */

/* Last-section */


/* .last-section{
    height: 75vh;
    background-color: rgb(157, 152, 152);
    padding: 15px 0px;
}

.second-paragraph{
    background-color: green;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
   
}

/* Footer */


/* footer{
    background-color: rgb(65, 62, 62);
    height: 60vh;
}

.container-column{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    height: 50vh;
    padding-top: 5px;
    padding-bottom: 10px;
}

.col{
    background-color: aqua;
    flex-basis: 16%;
}

.col-big{
    flex-grow: 1;
    background-color: palevioletred;
}

.container-login{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    height: 8vh;
    justify-content: space-between;
    background-color: lightseagreen;
    align-items: center;
    padding: 10px 0;
} */ 