/* Reset rules */


*{
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}

ul,
li,
menu,
a{
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Roboto Slab', serif;
}

/* menu-nav */

header{
    background-color: rgba(37,94,233,255);
}
.main-nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 80px;
    max-width: 1200px;
    margin: 0 auto;
}

.ul-logo{
    display: flex;
    gap: 20px;
    color: white;
    text-align: center;
    line-height: 34px;
}

a:link{
    color: white;
}

.btn-acces{
    border-radius: 20px;
    background-color: white;
    color: rgba(112,121,130,255);
    padding: 9px;
}

/* sections-main */

.container{
    max-width: 1200px;
    margin: 0 auto;
    height: 560px;
    padding: 15px 160px;
    text-align: center;
    display: flex;
    align-items: center;
}

.hero-content{
    max-width: 900px;
    margin: 0 auto;
}

.section-bgi{
    background-image: url(../img/jumbo.png);
    min-height: 560px;
    background-size: 100%;
    background-repeat: no-repeat;
}

h1{
    font-size: 56px;
    color: white;
}

.main-paragraph{
    color: white;
    font-size: 20px;
    margin: 40px 0px 0px;
}

.btn-hero{
    font-size: 20px;
    border-radius: 28px;
    padding: 16px 32px;
    margin-top: 24px;
}

.btn-black{
    background-color: rgba(35,39,42,255);
    color: white;
    margin-left: 24px;
}
 .container-section-col{
    max-width: 1200px;
    margin: 0 auto;
    height: 680px;
    padding: 120px 0px;
    text-align: center;
    align-items: center;
 }

 .row{
    display: flex;
    align-items: center;
 }

 .row-reverse{
    flex-direction: row-reverse;
 }

 .col-w60{
    flex-basis: 60%;
 }

 .col-w40{
    flex-basis: 40%;
    text-align: left;
    padding: 5px 20px;
 }

 .title-1sect{
    font-size: 46px;
    color: #23272a;
 }

 .paragraph-2{
    font-size: 18px;
    margin-top: 24px;
    line-height: 1.4;
 }


 .container-video{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0px;
    text-align: center;
    justify-content: center;
 }
 
 .title-2sect{
    font-size: 40px;
    color: #23272a;
 }

 .paragraph-3{
    font-size: 16px;
    margin: 24px 0px 0px;
 }

 .col-w100{
    flex-basis: 100%;
    text-align: center;
    margin: 0 auto;
 }

 .cont-h2-p{
    max-width: 1000px;
    margin-left: 100px;
 }

 .container-img-h4{
    background-image: url(../img/stars.svg);
    height: 45px;
    width: 555px;
    background-size: contain;
    align-self: center;
    margin: 0 auto;
 }

 h4{
    font-size: 32px;
    margin-top: -23px;
 }

 .btc-blue{
    margin: 40px 0px 0px;
    padding: 16px 32px;
    background-color: #5865F2;
    font-size: 20px;
    color: white;
    border-radius: 28px;
 }



/* footer */

footer{
    background-color: #23272A;
    color: white;
}

.container-footer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0px;
    display: flex;
}

.col-4{
    flex-basis: calc(100%/3);
    border: 1px solid gray;
}

.col-2{
    flex-basis: calc(100%/6);
    border: 1px solid gray;
}

.main-footer{
    font-size: 32px;
    color: #5865F2;
    margin-bottom: 20px;
}

.social{
    display: flex;
}

h6{
    font-size: 16px;
    color: #5865F2;
    padding-top: 8px;
}

.ul-footer{
    margin-left: -40px;
}

.ul-footer li{
    font-size: 16px;
    line-height: 22px;
    padding-top: 8px;
}

span{
    margin-top: 24px;
}